html {
  font-size: 100% !important;
}

.main {
  max-width: none;
  padding-left: 25px;
  padding-right: 25px;
}

.checklist label {
  padding: 0 !important;
}

.logo {
    position: relative;
    height: 75px;
    margin-right: 20px;
    border-radius: 5px;
}

.footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}

.dropdown {
    position: relative;
    display: inline-block;
  }

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: flex;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }

.chartframe{
    border-width: 0px;
}

.checklist {
    /* display: inline-flex; */
    position: absolute;
    background-color: #ffffff;
    min-width: 250px;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1; */

}

.checklist label {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    /* display: block; */
}

* {
    box-sizing: border-box;
  }


  /* Create three unequal columns that floats next to each other */
  .column {
    float: left;
    padding: 10px;
  }

  /* Left and right column */
  .column.side {
    width: 25%;
  }

  /* Middle column */
  .column.middle {
    width: 75%;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column.side, .column.middle {
      width: 100%;
    }
  }
